*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body
{
    background-image: url('space2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: cursive;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}
section
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: linear-gradient(135deg, #111, #222, #111); */
}
section i
{
    position: absolute;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 8px #fff;
    animation: animate 200s linear infinite;
}

@keyframes animate
{
    0%
    {
        opacity: 0;
        transform: translateY(20vh);
    }
    10%
    {
        opacity: 1;
    }
    90%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
        /* transform: translateY(-10vh); */
    }
}
.middle
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.left
{
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.right
{
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.bottom
{
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.top
{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.container
{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.btn
{
  font-size: 30px;
  color: 	#f6f0d7;
  background: none;
  border: 2px solid 	#f6f0d7;
  font-family: "montserrat",sans-serif;
  text-transform: uppercase;
  padding: 12px 20px;
  min-width: 200px;
  margin: 10px;
  cursor: pointer;
  transition: color 0.4s linear;
  position: relative;
  opacity: 0;
  transition: opacity 1.5s;
}
.btn:hover
{
  color: #f6fdc3; 
  opacity: 1;
}
.btn::before
{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ff8080;
  z-index:-1000;
  transition: transform 4s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
  /* opacity: 0; */
}
/* .btn1::before
{
  transform: scaleX(0);
}
.btn1:hover::before
{
  transform: scaleX(1);
} */
.btn2::before
{
  transform: scaleX(0);
}
.btn2:hover::before
{
  transform: scaleX(1);
}
.btn4::before
{
  transform: scaleY(0);
}
.btn4:hover::before
{
  transform: scaleY(1);
}
.btn5::before
{
  transform: scaleY(0);
}
.btn5:hover::before
{
  transform: scaleY(1);
}
.btn3::before
{
  transform: scaleX(0);
}
.btn3:hover::before
{
  transform: scaleX(1);
}